@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* #region  /**=========== Default Typography =========== */
  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  body,
  .body {
    @apply text-sm md:text-base;
  }
  /* #endregion  /**======== Default Typography =========== */

  * {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    list-style: none;
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-accent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb:hover {
    /* @apply bg-slate-500; */
    @apply bg-transparent;
  }

  .cursor-newtab {
    cursor:
      url('/new-tab.png') 10 10,
      pointer;
  }

  :focus-visible {
    @apply outline-none;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, rgb(0 232 135), rgb(0 224 243));
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  @media (prefers-reduced-motion: reduce) {
    .animated-underline {
      transition: none;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible,
  .project-card:hover .animated-underline,
  .project-card:focus-visible .animated-underline {
    background-size:
      0 2px,
      100% 2px;
  }

  /* #region  /**=========== Animate Shadow =========== */
  .animate-shadow {
    @apply after:absolute after:inset-0 after:z-[-1] after:opacity-0 after:transition-opacity hover:after:opacity-100;
    @apply after:shadow-md dark:after:shadow-none;
  }
  /* #endregion  /**======== Animate Shadow =========== */

  /* #region  /**=========== Fade In =========== */
  [data-fade] {
    @apply translate-y-10 opacity-0 transition duration-300 ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
  }
  .fade-in-start [data-fade] {
    @apply translate-y-0 opacity-100;
  }
  .fade-in-start [data-fade='1'] {
    transition-delay: 100ms;
  }
  .fade-in-start [data-fade='2'] {
    transition-delay: 200ms;
  }
  .fade-in-start [data-fade='3'] {
    transition-delay: 300ms;
  }
  .fade-in-start [data-fade='4'] {
    transition-delay: 400ms;
  }
  .fade-in-start [data-fade='5'] {
    transition-delay: 500ms;
  }
  .fade-in-start [data-fade='6'] {
    transition-delay: 600ms;
  }
  .fade-in-start [data-fade='7'] {
    transition-delay: 700ms;
  }
  .fade-in-start [data-fade='8'] {
    transition-delay: 800ms;
  }
  /* #endregion  /**======== Fade In =========== */
}
